body{
    background-image:linear-gradient(to right,rgba(0, 0, 255, 0.541),rgb(45, 0, 128));;
}
.container{
   position:absolute;
   top:50%;
   left: 50%;
   height: 275px;
   width: 275px;
   border:10px solid transparent;
   background-clip: padding-box;
   background-color:antiquewhite;
   padding: 50px;
   border-radius: 20px;
   transform: translate(-50%,-50%);
   display: inline;
   align-items: center;
   
}
a{
    text-decoration: none;

}
button{
    height: 50px;
    width: 240px;
    text-align: center;
    background-color: dodgerblue;
    border: none;
    padding-left: none;
    margin: 10px;
    border-radius: 5px;
    align-self: center;
    color: white;

}
.forgotpassword{
    text-align: left;
    margin-left: 5px;
    
}

.icon {
    padding: 13px;
    background: dodgerblue;
    color: white;
    min-width: 40px;
    text-align: center;
    border-radius: 5px 0px 0px 5px;
    margin:10px;
    padding-bottom: 13px;
    margin-right:0px;
    padding-top: 13px;
    padding-bottom: 16px;
    
}
  
  
input[type=text],input[type=password] {
    
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    height:45px;
    text-align: center;
    border-left: 0px;
    
    
}
  
input:focus {
    border: 3px solid dodgerblue;
    border-left: 0px;
} 
.title{
    position:absolute;
    top:0%;
    left:0%;
    background-color: dodgerblue;
    margin-top: 0px;
    text-align: center;
    height: 50px;
    padding-left: 0px;
    width: 100%;
    color: beige;
    font-size: xx-large;
    position:absolute;
    
} 
.title>p{
    text-align: middle;
    position: absolute;
    top:-50%;
    left:30%

}
button:hover{
    background-color: rgba(30, 143, 255, 0.568);
    color:grey;
}
 
